
<div class="container">
   <div class="header clearfix">
      <nav>
         <ul class="nav nav-pills float-right">
            <li class="nav-item">
               <a class="nav-link active" href="#">My wallet <span class="sr-only">(current)</span></a>
            </li>   
         </ul>
      </nav>
      <h3 class="text-muted">Tourist earned tokens</h3>
   </div>
   <div class="jumbotron">
      <h1 class="display-3">Redeem your  token here below </h1>
      {{!-- <p class="lead">you have {{feedController}} tokens</p> --}}
      <p class="lead">This token you can redeem on the assets which are listed below.</p>
   </div>
   <div class="row marketing">
      <div class="col-lg-4">
         <h4>Rajasthan Handmade Murti</h4>
         <p>description.</p>
         <img src="https://2.bp.blogspot.com/-Cj-Fhjur3UA/UowqEHCh6NI/AAAAAAAAAj0/CO2VvzAkv4s/s1600/Handicrafts_idols.JPG" class="responsive" alt="Cinque Terre">
            <br>
         <br>
            <p><a class="btn btn-lg btn-success" href="#" role="button" {{action "tokenalert1"}}>Redeem token</a> price 10 tokens</p>
         <style>
            img {
            display: block;
            width:90%;
            height:90%;
            }
         </style>
      </div>
      <div class="col-lg-4">
         <h4>Rajasthan Famous Flower Pots</h4>
         <p>description</p>
          <img src="https://financialtribune.com/sites/default/files/field/image/13_Handicrafts_0.jpg" class="responsive" alt="Cinque Terre">
         <br>
         <br>
         <p><a class="btn btn-lg btn-success" href="#" role="button" value="40" {{action "tokenalert"}}>Redeem token</a> price 40 tokens</p>
      </div>
      <div class="col-lg-4">
         <h4>Jars</h4>
         <p>description.</p>
          <img src="http://www.camelcraft.com/haryana-crafts.jpg" class="responsive" alt="Cinque Terre">
         <br>
         <br>
         <p><a class="btn btn-lg btn-success" href="#" role="button" {{action "tokenalert"}}>Redeem token</a>  price 25 tokens</p>
      </div>
   </div>
   <br>
    <div class="row marketing">
   <div class="col-lg-4">
         <h4>Cotton Designed Articles</h4>
         <p>description</p>
          <img src="https://fthmb.tqn.com/HX4KQLDJggO5W2-PzOnBR7lNHlw=/960x0/filters:no_upscale()/GettyImages-520874768-59bcf6e7054ad90011024807.jpg" class="responsive" alt="Cinque Terre">
         <br>
         <br>
         <p><a class="btn btn-lg btn-success" href="#" role="button" {{action "tokenalert"}}>Redeem token</a>  price 20 tokens</p>
     
      </div>
      </div>
   <br>
   <footer class="footer">
      <p>&copy; Company 2017</p>
   </footer>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<br>

